<!-- <div class="header-wrapper white">
    <nav class="header primary-nav">
        <div class="primary-nav-inner">
            <div class="header-logo">
                <div id="nav-drawer" class="pull-left">
                    <input id="nav-input" type="checkbox" class="nav-unshown">
                    <label id="nav-open" for="nav-input"><i class="material-icons material-icons-menu">menu</i></label>
                    <label class="van-unshown" id="nav-close" for="nav-input"></label>
                    <div id="nav-content">
                        <ul>
                            <div class="nav-section height56_">
                                <input id="nav-input" type="checkbox" class="nav-unshown">
                                <label id="nav-open" class="nav-open-padding0" for="nav-input">
                                    <i class="material-icons nav-icon nav-b material-icons-menu header-nav-section-logo">menu
                                        <div class="nav-discription">
                                        <%= image_tag 'logo.png', :alt=>'プレコレ！', :class=>'logo-precolle' %>
                                        </div>
                                    </i>
                                </label>
                            </div>
                            <div class="nav-section nav-middle-height">
                                <div class="nav-items">
                                    <div class="nav-items-link">
                                        <%= link_to purecolle_path do %>
                                            <i class="material-icons nav-icon nav-b">home<div class="nav-discription">ホーム</div></i>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="nav-items">
                                    <div class="nav-items-link">
                                        <%= link_to purecolle_about_path do %>
                                            <i class="material-icons nav-icon nav-b">info_outline<div class="nav-discription">このサイトについて</div></i>
                                        <% end %>
                                    </div>
                                </div>
                                <div class="nav-items">
                                    <div class="nav-items-link">
                                        <%= link_to purecolle_contact_path do %>
                                            <i class="material-icons nav-icon nav-b">email<div class="nav-discription">お問い合わせ</div></i>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-menu-copy">
                                <li><div class="copy">&copy; 2018 precolle</div></li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="header-logo-img"><a href="#"><%= image_tag 'title_logo.png', :alt => 'プリコレ！', :class => "title_img" %></a></div>
            </div>
        </div>
    </nav>
</div>
-->
<div class="navbar-fixed">
    <nav class="white" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><%= image_tag 'title_logo.png', :alt => 'プリコレ！', :class => "title_img" %></a>                
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <%= link_to purecolle_path do %>
                            ホーム
                        <% end %>
                    </li>
                    <li>
                        <%= link_to purecolle_about_path do %>
                            このサイトについて
                        <% end %>
                    </li>
                    <li>
                        <%= link_to purecolle_contact_path do %>
                            お問い合わせ
                        <% end %>
                    </li>                    
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>
</div>