<!-- nav -->
<%= render 'shared/nav' %>

<!-- main -->
<main>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <div class="section">
                        <div class="col s12">
                            <span class="title">NEW ARRIVAL ARTICLE</span>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card medium hoverable">
                                <a href="http://anichil.com/archives/1070252769.html" target="_blank" class="test">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <%= image_tag 'article/img/test1.jpg', :alt=>'画像13', :class=>'activator' %>
                                        <div class="img-top-triangle"></div>
                                    </div>
                                    <div class="card-content">
                                        <p>独身男性が1人でプリキュア映画見に行くのってキモい？</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="http://anichil.com/" target="_blank">あにちる速報</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card medium hoverable">
                                <a href="http://anichil.com/archives/1070252769.html" target="_blank" class="test">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <%= image_tag 'article/img/test1.jpg', :alt=>'画像13', :class=>'activator' %>
                                        <div class="img-top-triangle"></div>
                                    </div>
                                    <div class="card-content">
                                        <p>独身男性が1人でプリキュア映画見に行くのってキモい？</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="http://anichil.com/" target="_blank">あにちる速報</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card medium hoverable">
                                <a href="http://anichil.com/archives/1070252769.html" target="_blank" class="test">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <%= image_tag 'article/img/test1.jpg', :alt=>'画像13', :class=>'activator' %>
                                        <div class="img-top-triangle"></div>
                                    </div>
                                    <div class="card-content">
                                        <p>独身男性が1人でプリキュア映画見に行くのってキモい？</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="http://anichil.com/" target="_blank">あにちる速報</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card medium hoverable">
                                <a href="http://anichil.com/archives/1070252769.html" target="_blank" class="test">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <%= image_tag 'article/img/test1.jpg', :alt=>'画像13', :class=>'activator' %>
                                        <div class="img-top-triangle"></div>
                                    </div>
                                    <div class="card-content">
                                        <p>独身男性が1人でプリキュア映画見に行くのってキモい？</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="http://anichil.com/" target="_blank">あにちる速報</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card medium hoverable">
                                <a href="http://anichil.com/archives/1070252769.html" target="_blank" class="test">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <%= image_tag 'article/img/test1.jpg', :alt=>'画像13', :class=>'activator' %>
                                        <div class="img-top-triangle"></div>
                                    </div>
                                    <div class="card-content">
                                        <p>独身男性が1人でプリキュア映画見に行くのってキモい？</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="http://anichil.com/" target="_blank">あにちる速報</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card medium hoverable">
                                <a href="http://anichil.com/archives/1070252769.html" target="_blank" class="test">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <%= image_tag 'article/img/test1.jpg', :alt=>'画像13', :class=>'activator' %>
                                        <div class="img-top-triangle"></div>
                                    </div>
                                    <div class="card-content">
                                        <p>独身男性が1人でプリキュア映画見に行くのってキモい？</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="http://anichil.com/" target="_blank">あにちる速報</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card medium hoverable">
                                <a href="http://anichil.com/archives/1070252769.html" target="_blank" class="test">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <%= image_tag 'article/img/test1.jpg', :alt=>'画像13', :class=>'activator' %>
                                        <div class="img-top-triangle"></div>
                                    </div>
                                    <div class="card-content">
                                        <p>独身男性が1人でプリキュア映画見に行くのってキモい？</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="http://anichil.com/" target="_blank">あにちる速報</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col s12 m6 l4">
                            <div class="card medium hoverable">
                                <a href="http://anichil.com/archives/1070252769.html" target="_blank" class="test">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <%= image_tag 'article/img/test1.jpg', :alt=>'画像13', :class=>'activator' %>
                                        <div class="img-top-triangle"></div>
                                    </div>
                                    <div class="card-content">
                                        <p>独身男性が1人でプリキュア映画見に行くのってキモい？</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="http://anichil.com/" target="_blank">あにちる速報</a>
                                    </div>
                                </a>
                            </div>
                        </div>                                                                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- scroll-btn -->
<%= render 'shared/scroll' %>

<!-- script -->
<%= render 'shared/script' %>