<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>プリコレ！ | プリキュアまとめサイトアンテナ</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="プリコレ！はプリキュアのまとめサイトアンテナです。各まとめサイトのプリキュアに関する記事を閲覧できます。"/>
    <meta name="keywords" content="プリキュア,プリキュアまとめ,ハグプリ,はぐぷり,precure,ぷりこれ,precolle">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- google web font -->
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
    <%= favicon_link_tag %>

<!--

                                                  .....................
                                       ....ggMMMMMMMMMMY""""""""""MMMMMMMMMNggJ...
                                ...gMMMMM""7^                               77T"MMMMNg.,.
       `  `    `   `     ` ..+MMM#"7!                                               .7"WMMNa,.
                       ..gMMB"'                                                           (7WMMgJ.
                    .gMM#"`                                                                   .7WMMg,
     `      `    .JMM"`                                                                           .TMMg,
               .MMD'                                                                                 .TMN,
        `    +MM=                                  `                                                    7WMa.
           .MM3                                                              `                            (MN,
     `   .dM"                     `            `                                                            TMm,
        .MM^                              `                             `                                    ,MN.
       .MM`               .        ..                                      `                                  ,MM.
       MM^          jN,..dM%   ...dMN..-J,                               .gM#        (Nm         .gN,          (Mb
      .MF          .dMMMMMMMe. ."TMMB""""!   ` `dM&.,     ...(JJ,    `.+MM#=         dM#         ,MM\           dM_
      dM:         .MMMMgMM'dMb   dMMMMMN,       dM#"^    (MB"""WMb   ,MMN.           dM#         .MM{           .MF
      dM:         .MN.MMM'.dMF    ?!  ,MN    .NMMMe,         ..JMF    (TMMN,          ?`          ?!            .MF
      (M]          7MM#" dMMD    .MNNMMM=    dMgMM"MF      ,MMM9^        ?HMN<       dMF         .MM!           .M$
      .MN                          `~          !`                           `                                  .M#`
       JMb     `                                                                                               JM%
        TMb                                                                                                   jMY
         dMN.      `                                                                                        .MM$
          .MMe                                                                                             .M#^
     `      TMN,                                                                                         .MM"
              "MNx        `      `        `                                  `                        ..MM"
                ?HMN..              `          `                        `                          ..NM#=
                   "MMNJ.                                                                       ..MM#"
     `                ?WMNNJ.              `       `                                        ..gMMB=`
        `                 ?TMF   `                                         `          ...gMMMB"`
                            MM      `          `                        `      ...JNMMMM"=`
           `                4M,          `       ......................JJJNNMMMM#9"^`
     `                      (M]             ..gMM#""""MMMMMMMMMMMM#"""D"""``
                            .M#         ..NMMB"`
          `    `   `         MM_   ..+MMM9=
                             dMi.+MM#"!
     `                       .MM""`                             `

     プリコレ！はHUGっと！プリキュアを応援しています。
-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
